 #border {
     border: 3px solid darkred;
 }
 
 #resume-wrap {
     text-align: center;
     background-color: lightpink;
     color: darkred;
     font-family: 'Courier New', Courier, monospace;
     margin-left: 100px;
     margin-right: 100px;
 }
 
 #resume-wrap li {
     list-style-type: none;
 }
 
 #resume_name h1 {
     border: 3px solid darkred;
     margin: 20px 250px 20px;
 }
 
 #main-navbar,
 #nav2,
 #nav3 {
     background-color: rgb(255, 177, 9);
     overflow: hidden;
 }
 
 #navbar-container,
 #nav2-container,
 #nav3-container {
     position: relative;
     float: left;
     width: 100%;
     border: 0.5px dotted white;
 }
 
 #navbar-container ul,
 #nav2-container ul,
 #nav3-container ul {
     margin: 0;
     padding: 0;
     float: left;
     position: relative;
     left: 50%;
 }
 
 #navbar-container li,
 #nav2-container li,
 #nav3-container li {
     list-style-type: none;
     float: left;
     /*position: relative;*/
     right: 50%;
     display: block;
 }
 
 #navbar-container li:hover,
 #nav2-container li:hover,
 #nav3-container li:hover {
     background-color: rgb(231, 91, 36);
 }
 
 #navbar-container li a,
 #nav2-container li a,
 #nav3-container li a {
     text-decoration: none;
     color: #fff;
     display: block;
     padding: 10px 20px;
     font-size: 20px;
 }
 
 #onpage,
 #onpage2,
 #onpage3 {
     text-decoration: underline overline;
 }
 
 #recipe-wrap {
     background-color: rgb(166, 255, 166);
     margin-left: 100px;
     margin-right: 100px;
     font-family: 'Bebas Neue', cursive;
     font-size: 18px;
     color: rgb(21, 105, 28);
 }
 
 .step1,
 .step2,
 .step3,
 .tadah {
     position: relative;
     left: 10%;
 }
 
 .intro {
     text-align: center;
 }
 
 #border2 {
     border: 3px solid rgb(37, 131, 45);
 }
 
 #recipe_name h1 {
     border: 3px solid rgb(37, 131, 45);
     margin: 20px 250px 20px;
 }
 
 #soccer-wrap {
     background-color: rgb(253, 203, 75);
     margin-left: 100px;
     margin-right: 100px;
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: rgb(196, 57, 6);
     font-size: 17px;
 }
 
 #border3 {
     border: 3px solid rgb(196, 57, 6);
 }